@using Clothes_Models.Models
﻿﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> UserManager


@if (_signInManager.IsSignedIn(User))
    {
   
    <li>
        <img src="~/img/images/user.png" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="~/img/images/user.png">
                    <h3>James </h3>
                </div>
                <hr>
                <a asp-area="Admin" asp-controller="Dash" asp-action="Index" class="sub-menu-link">
                    <img src="~/img/images/profile.png" alt="">
                    <p>Admin</p>
                    <span>></span>
                </a>
                <a asp-area="Customer" asp-controller="Profile" asp-action="Index" class="sub-menu-link">
                    <img src="~/img/images/profile.png" alt="">
                    <p>My Profile</p>
                    <span>></span>
                </a>
                <a href="settings.php" class="sub-menu-link">
                    <img src="~/img/images/setting.png" alt="">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                    <form  method="post" asp-controller="Account" asp-action="Logout">
                    <a class="sub-menu-link">
                        <button class="krbutton"><p>Logout</p><span>></span></button>
                   </a>
                    </form>

            </div>
        </div>
    </li>
    }
    else
    {
    <li>
        <img src="~/img/admin.png" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <a asp-controller="Account" asp-action="Login" class="sub-menu-link">
                    <img src="~/img/images/logout.png" alt="">
                    Sign up
                </a>
            </div>
        </div>
    </li>
    }
<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
</script>
