<section id="page-header" class="about-header">
    <h2>#KnowUs</h2>
    <p>Know What We Are And What We Do!</p>
</section>

<section id="about-head" class="section-p1">
    <img src="~/img/about/a6.jpg">
    <div>
        <h2>Who We Are?</h2>
        <p>
            We are a clothing manufacturing and selling company.
            We have branches in countries around the world.
            We have clothes for children, men and women.
        </p>
        <abbr title="">
            Create Stunning images with as much or as
            litthle control as you like thanks to a choice of basic
            and creative modes.
        </abbr>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            Create Stunning images with as much or as
            litthle control as you like thanks to a choice of basic
            and creative modes.
        </marquee>
    </div>
</section>

<section class="about-app" class="-p1">
    <h1 class="krs">Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay muted loop src="~/img/about/1.mp4"></video>
    </div>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="~/img/features/f1.png" alt="">
        <h6>Free shipping</h6>
    </div>
    <div class="fe-box">
        <img src="~/img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="~/img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="~/img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="~/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="~/img/features/f6.png" alt="">
        <h6>F24/7 Support </h6>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4> Sign Up For Newsletter</h4>
        <p> Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal"> Sign Up</button>
    </div>
</section>
